{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
<form action="/admin" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="admin_date" name="admin_date" placeholder="Date" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="admin_time" name="admin_time" placeholder="Time" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Add Slot</button>
</form>
{% endblock %}