{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <div class="mb-3">
        <input autofocus class="form-control mx-auto w-auto" id="admin_date" name="admin_date" placeholder="Date" type="date">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="admin_time" name="admin_date" placeholder="Time" type="time">
    </div>
    <button class="btn btn-primary" onclick="add_delivery_slot()">Add Slot</button>
{% endblock %}